[package]
name = "tokio-uring"
version = "0.2.0"
authors = ["Carl Lerche <me@carllerche.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
documentation = "https://docs.rs/tokio-uring/0.2.0/tokio-uring"
repository = "https://github.com/tokio-rs/tokio-uring"
homepage = "https://tokio.rs"
description = """
io-uring support for the Tokio asynchronous runtime.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["async", "fs", "io-uring"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.2", features = ["net", "rt"] }
scoped-tls = "1.0.0"
slab = "0.4.2"
libc = "0.2.80"
io-uring = { version = "0.5.0", features = [ "unstable" ] }
bytes = { version = "1.0", optional = true }

[dev-dependencies]
bencher = "0.1.5"
tempfile = "3.2.0"
tokio = { version = "1.2", features = ["macros", "io-util"] }
tokio-test = "0.4.2"